
.wrap {
  width: 1280px;
  margin: 0 auto;
}

.header {
  text-align: center;
  background-color: var(--cor-branco);
  padding: 1em 0px;
}

.books-page__banner {
  background-image: url('../assets/Banner-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}

.banner h3{
  margin-top: 1em;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}

.btn {
  background-image: var(--cor-azul-gradiente);
  border: none;
  cursor: pointer;
  height: 44px;
  text-decoration: none;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}



.btn:active, .btn:focus {
  background-image: var(--text-description-color);
  color:  var(--cor-branco);
}

.btn:hover {
  color: #cecdcd;
  border-radius: 10px;
  border-bottom: 2px solid var(--text-description-color);
}

.livros {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.livro {
  width: 302px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 644px;
  margin-bottom: 1rem;
}

.indisponivel {
  opacity: 0.3;
}

.livro__titulo {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

.livro__descricao {
  text-align: center;
  font-size: 18px;
  color: var(--text-author-color);
  margin: 1rem 0;
}

.livro__preco {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-price-color);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.tag {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-tag-color);
  padding: 5px 4px;
  background: rgba(197, 197, 197, 0.25);
  border-radius: 4px;
  margin-right: 1rem;
}

.livros__disponiveis {
  width: 100%;
  height: 80px;
  background-color: var(--text-description-color);
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.livros__disponiveis p {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  font-size: 2.5em;
} 

.books-page__rodape {
  width: 100%;
  height: 104px;
  background: linear-gradient(96.48deg, #002f52 36.3%, #326589 99.56%);
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.books-page__rodape p {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}

.line-under-book{
  display: none;
}

.wrap_filter{
  display: none;
}

.btn:active, .btn:focus {
  background-color: var(--text-description-color);
  color:  var(--cor-branco);
}

@media screen and (max-width: 900px) {

  .wrap {
    width:auto;
    padding: 0;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .wrap_filter{
    display: block;
  }
  
  .livro__titulo {
  font-size: 16px;
  line-height: 20px;
  }


  .livro__descricao {
  font-size: 14px;
  margin: 0.5rem 0;
  }
  
  .livro__preco {
  font-size: 24px;
  }
  
  .line-under-book{
    display: block;
    width: 100%;
  }

  .books-page__banner {
    height: fit-content;
    width: auto;
  }
  
  .livros__disponiveis p {
  font-size: 1.8em;
  }


  .nav {
    display: none;

  }
  
  .btn {
    background-image: var(--cor-azul-gradiente);
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
    width: 100vh;

  }

  .btn:active, .btn:focus {
    background-image: var(--text-description-color);
    color:  var(--cor-branco);
  }

  #mostrar-botoes:checked ~ .nav, .wrap {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 1em 0em;
    padding: 0;
    
  }


  
  }